<h1>Blocipedia</h1>
<p class="lead">Wikis are a great way to collaborate on community-sourced content. Whether the wiki is for a hobby or work-related project, you can create your own wikis and share them publicly or privately with other collaborators.</p>
<p><%= link_to "Create a free account", new_user_registration_path %> today to start contributing!</p>