<div class="media">
	<div class="media-body">
		<h2 class="media-heading">
		   <%= wiki.title %> <br >
		   <small>Created by: <%= link_to wiki.user.username.capitalize, "#" %></small>
		</h2>
		<p>
			<%= wiki.body %>
		</p>
	</div>
</div>