<div class="col-md-8 col-xs-10">
	<h1>Wikis</h1>
	<% @wikis.each do |wiki| %>
		<div class="media">
			<div class="media-body">
				<h3 class="media-heading">
					<%= link_to wiki.title, wiki %>
					<small> - Created by: <%= link_to wiki.user.username.capitalize, "#" %></small>
				</h3> 
			</div>
		</div>
	<% end %>
</div>