<div class="row">
	<h1 class="text-center">Wikis</h1>
	<%= render partial: 'wikis/list', locals: {wikis: @wikis} %>
	<% if current_user %>
		<div class="wiki-block col-xs-6 col-sm-4 col-md-3">
			<div class="wiki-body text-center">
				<h3 class="wiki-heading">
					<%= link_to new_wiki_path do %>
						<i class="glyphicon glyphicon-plus" style="font-size: 4rem"></i>
					<% end %>
				</h3>
			</div>
		</div>
	<% end %>
</div>