@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-logo {
	width: 35px;
	display: inline !important;
}

.navbar-brand {
	font-size: 2.5rem;
}

a:hover {
	text-decoration: none;
}

.content-wrapper {
  min-height: 77vh;
}

.wiki-body {
  height: 100px;
  margin: 30px auto;
}

.wiki-block h6 {
  color: #000
}

#footer {
  height: 60px;
  background-color: #414141;
  margin-top:50px;
  padding-top:20px;
  padding-bottom:20px;
  color: #efefef;
}
