// Place all the styles related to the Wikis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wiki-body {
	display: inline-block;
	height: 40px;
	border: 1px solid #000;
}